{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/contact.css' %}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<body>
    <section id="contact">
        <h3>
            You are in contact page
        </h3>
        <div class="row justify-content-center">
            <div class="col">
                Test HERE 
            </div>
        </div>
    </section>
</body>
{% endblock %}