{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/contact.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/contact.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/partials/banner.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Top-Banner -->
{% include "app/partials/banner.html" %}
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %}
<section id="contact" class="full-background">
    <div data-aos="fade-up" class="container my-5">
        <div class="row text-center">
            <h2 class="pt-4 pb-2 display-5">Contact</h2>
            <h5 class="text-muted">We want to hear from you!</h5>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
                <strong{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
            </div>
            {% endfor %}
        {% else %}
        {% if contact_form.errors %}
            {% for field in contact_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in contact_form.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="row justify-content-center">
            <div class="col-10 col col-md-10 col-lg-6">
                {% csrf_token %}
                <div class="row py-2">
                    <div class="col">
                        <label for="{{contact_form.full_name.id_for_label}}" class="form-label">Full name</label>
                        <input type="text" class="form-control {% if contact_form.full_name.errors %}is-invalid{% endif %}" name="{{contact_form.full_name.name}}" placeholder="Full name" maxlength="200" {% if contact_form.full_name.value %}value="{{contact_form.full_name.value}}"{% endif %} required="" id="{{contact_form.full_name.id_for_label}}">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <label for="{{contact_form.email.id_for_label}}" class="form-label">Email</label>
                        <input type="email" class="form-control {% if contact_form.email.errors %}is-invalid{% endif %}" name="{{contact_form.email.name}}" placeholder="Email" maxlength="200" {% if contact_form.email.value %}value="{{contact_form.email.value}}"{%endif %} required="" id="{{contact_form.email.id_for_label}}">
                        <div for="{{contact_form.email.id_for_label}}" class="form-text">We will never share your email.</div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <label for="{{contact_form.subject.id_for_label}}" class="form-label">Subject</label>
                        <input type="text" class="form-control {% if contact_form.subject.errors %}is-invalid{% endif %}" name="{{contact_form.subject.name}}" placeholder="Subject" maxlength="200" {% if contact_form.subject.value %}value="{{contact_form.subject.value}}"{% endif %} required="" id="{{contact_form.subject.id_for_label}}">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col">
                        <label for="{{contact_form.message.id_for_label}}" class="form-label">Message</label>
                        <div class="widget">
                            <span id="char_count" class="text-muted user-select-none"></span>
                            <textarea class="form-control msg_textarea {% if contact_form.message.errors %}is-invalid{% endif %}" name="{{contact_form.message.name}}" rows="10" maxlength="500" onkeyup="countChar(this);" placeholder="Message" required="" id="{{contact_form.message.id_for_label}}">{% if contact_form.message.value %}{{contact_form.message.value}} {% endif %}</textarea>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 pt-4 col-6 mx-auto">
                    <input type="submit" class="btn btn-outline-dark" value="Submit">
                </div>
            </div>
        </form>
        {% endif %}
        <hr class="my-5">
        <div class="location">
            <div class="row g-0 justify-content-center">
                <div class="col-lg-5 col-md-8 col-sm-8 col-11">
                    <div class=" container ratio ratio-4x3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12091.707144627779!2d-74.1665357!3d40.7416365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeac1906558bb4032!2sFraternal%20Order%20of%20Police!5e0!3m2!1sen!2sus!4v1619478656504!5m2!1sen!2sus" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class= "col-lg-5 d-flex align-items-center col-md-8 col-sm-8 col-11">
                  <div class="card-body">
                    <h3 class="card-title">Newark Fraternal Order of Police</h3>
                    <p class="card-text">51 Rector St, Newark, NJ, 07102</p>
                    <p class="card-text"><b>Phone:</b> (973) 642-0390<br><b>Email:</b> nwrkfop@aol.com</p>
                    <div class="row g-0">
                        <div class="col-sm-3 col-4">
                            <p class="card-text"><b>Monday<br>Tuesday<br>Wednesday<br>Thursday<br>Friday<br>Saturday<br>Sunday</b></p>
                        </div>
                        <div class="col">
                            <p class="card-text">8:00 AM - 5:00 PM<br>8:00 AM - 5:00 PM<br>8:00 AM - 5:00 PM<br>8:00 AM - 5:00 PM<br>8:00 AM - 5:00 PM<br>Closed<br>Closed</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div> 
    </div>
</section>
{% endblock %}