{% extends 'base.html' %}
{% load static %}
{% block title %}Donate{% endblock %}
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/donate.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate page</title>
    <link rel="stylesheet" href="donate.css">
</head>
<body>
    
hello header
        
    <section>
        <p>about.html</p>
    </section>

    <section>
    </section>

    <section>
    </section>

    <footer>

    </footer>
</body>

{% endblock %}