{% extends 'base.html' %}
{% load static %}
{% block title %}Donate{% endblock %}
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/donate.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
{% endblock %}

{% block content %}
    

        
<section id="home">
   
      <div class="pokicemen-pic">
                <div class="policemen">
                    <img src="static/assets/MiscImages/fopbanner.jpg" style="width:100%">
                </div>
                <hr class="divLine"/>
        </div>
    <div class="container">  
        <div class="row">
            <div class="col-sm-4">
              <h3>Photo</h3>
              <img src="static/assets/MiscImages/seal.png" class="img-rounded">
            </div>
            <div class="col-sm-4">
              <h3>Paypal info</h3>
              <p>Lorem ipsum dolor..</p>
            </div>
            <div class="col-sm-4">
              <h3>Logo</h3>
              
            </div>
          </div> 
    </div>
</section>




{% endblock %}