{% extends 'base.html' %}
{% load static %}
{% block title %}Donate{% endblock %}
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/donate.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
{% endblock %}

{% block content %}
    

        
<section id="home">
   
      <div class="pokicemen-pic">
                <div class="policemen">
                    <img src="static/assets/MiscImages/fopbanner.jpg" style="width:100%">
                </div>
                <hr class="divLine"/>
        </div>
    <div class="container" style="margin-top: 40px">  
        <div class="row">
            <div class="col-sm-4">
                <img src="static/assets/MiscImages/seal.png" class="img-rounded" width="230" height="230">
            </div>
            <div class="col-sm-4" align:center>
                <p style="font-family: cursive; font-size:20px">Your donations to our lodge will enable us to continue
                    to serve the officers and the community in which  we serve.
                </p> 
                <p style="font-family: cursive; font-size:20px">Any amount is greately appreciated . The Newark Fraternal Order
                    of Police and its members thank you for your continued support.
                </p>  
              
            </div>
            <div class="col-sm-4" align="center">
              <h2 style="font-family:cursive">Please donate using PayPal</h2>
              <br><br>
            <table border="0" cellpadding="10" cellspacing="0" align="center">
            <tr><td align="center"></td></tr><tr><td align="center">
            <a href="https://www.paypal.com/c2/webapps/mpp/paypal-popup?locale.x=en_C2" 
             title="PayPal" onclick="javascript:window.open('https://www.paypal.com/c2/webapps/mpp/paypal-popup?locale.x=en_C2',
             'WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes,
              resizable=yes, width=1060, height=700'); return false;">
              <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/34_Yellow_PayPal_Pill_Button.png" 
              alt="PayPal" /></a></td></tr></table>
            </div>
          </div> 
    </div>
</section>

{% endblock %}