{% extends 'base.html' %}
{% load static %}
{% block title %}events{% endblock %}
{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/events.css' %}" type="text/css" media="screen">

{% endblock %}
{% block content %}
<!-- Top-Banner -->
{% include "app/partials/banner.html" %}
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %}
<section id="events" class="full-background">
  <div class="container">
  <div class="welcome-wrapper">
    <div class="welcome-info text-center" style="padding-top: 40px;padding-bottom: 40px;">
      <h2 class="title text-primary">Events and Calendar</h2>
    </div>
  </div>

   <!--<<div class="container " data-aos="fade-up">
   p>it doesnt load images </p>
    <img src="{% static 'assets/ewrpdpics/ewrpd.jpeg' %}" alt="">
    <img src="{% static 'assets/misc/ru-cs logo.png' %}" style="height:80px;" alt="">
    <p>logo loads</p>
  </div>-->
  
    <div class=" container px-md-2 ratio ratio-16x9" data-aos="fade-up">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZXdyZm9wMTJAZ21haWwuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043" 
      style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>  
    </div>
    <br><br>

    <div class="events">

    </div>
    <div class="welcome-info text-center" style="padding-top: 40px;padding-bottom: 40px;">
      <h2 class="title text-primary">Our Location</h2>
    </div>
    <div class=" container px-md-2 ratio ratio-16x9" data-aos="fade-up">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9267659946477!2d-74.16873804990195!3d40.741636943639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2547f5e2e284d%3A0xf3e9e74e79d87738!2s51%20Rector%20St%2C%20Newark%2C%20NJ%2007102!5e0!3m2!1sen!2sus!4v1618847491582!5m2!1sen!2sus" 
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <br><br>
    <div class="welcome-wrapper">
      <div class="welcome-info text-center" style="padding-top: 40px;padding-bottom: 40px;">
        <h2 class="title text-primary">News</h2>
      </div>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li> 
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
        </ul>
      </div>
      </div>
      <br><br>
    </div>
    
</section>
{% endblock %}

