{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/index.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
{% endblock %}

{% block content %}

<body>
  <section id="home">
    {% include "app/partials/banner.html" %}
    {% include "app/partials/navbar.html" with user=user %}
    <div class="container">
      
      <div class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000" >
            <img src="{% static 'assets/MiscImages/newarkpolice3resize.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'assets/MiscImages/newarkpolice2resize.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static 'assets/MiscImages/newarkpoliceresize.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <hr class="light" />
      <div class="quote-wrapper">
        <blockquote class="text">
          <p class="welcome">Welcome to <br>
            the Newark Fraternal Order of Police</p>
          <p class="welcome-message">The Newark Fraternal Order of Police Lodge#12 is an active Union Office that represents about
            850 active police officers and over 700 retirees. We protect our officers rights in incidents where
            an officer has taken a legal action while on or off duty. We negociate for their benefits, salaries
            and work schedules. Along with just being an active lodge. We also have great support form within
            our communities that become associate members and show their support for our law enforcement
            community. With their support we donate to various organizations.
          </p>
        </blockquote>
      </div>
      <div class="video">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/gPgHNZKvJdM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div data-aos="fade-down" class="row ink-items">
        <div class="col-md-4">
          <h1>Important Links</h1>
          <table class="center">
            <tr>
              <td><a href="http://npd.newarkpublicsafety.org" target="_blank">Newark Police Department</a></td>
            </tr>
            <tr>
              <td><a href="https://www.newarknj.gov/" target="_blank">City of Newark</a></td>
            </tr>
            <tr>
              <td><a href="https://www.nj.gov/treasury/pensions/pension-active-pers.shtml" target="_blank">New Jersey PERS</a></td>
            </tr>
            <tr>
              <td><a href="https://www.dol.gov/" target="_blank">US Dept. Of Labor</a></td>
            </tr>
            <tr>
              <td><a href="https://nleomf.org/" target="_blank">National Law Enforcement Officers Memorial</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h1>Action Center</h1>
          <table class="center">
            <tr>
              <td><a href="https://njfop.com/" target="_blank">New Jersey Fraternal Order of Police</a></td>
            </tr>
            <tr>
              <td><a href="https://www.fop.net/" target="_blank">National Fraternal Order of Police</a></td>
            </tr>
            <tr>
              <td>New Jersey PERS</td>
            </tr>
            <tr>
              <td>US Dept. Of Labor</td>
            </tr>
            <tr>
              <td>National Law Enforcement Officers Memorial</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h1>Useful Resources</h1>
          <table class="center">
            <tr>
              <td>Newark Police Department</td>
            </tr>
            <tr>
              <td>City of Newark</td>
            </tr>
            <tr>
              <td>New Jersey PERS</td>
            </tr>
            <tr>
              <td>US Dept. Of Labor</td>
            </tr>
            <tr>
              <td>National Law Enforcement Officers Memorial</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}