{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block vendor %}
<link rel="stylesheet" href="{% static 'css/app/index.css' %}" type="text/css" media="screen">
<script type="text/javascript" src="{% static 'js/app/index.js' %}"></script>
{% endblock %}

{% block content %}

<body>
  <section id="home">
    <div class="container">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="static/assets/MiscImages/newarkpolice3resize.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="static/assets/MiscImages/newarkpolice2resize.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="static/assets/MiscImages/newarkpoliceresize.jpg" style="width:100%">
        </div>
      </div>
      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <hr class="light" />
      <div class="Mess-home-page">
        <p class="welcome">Welcome to <br>
          the Newark Fraternal Order of Police</p>
        <p class="welcome-message">The Newark Fraternal Order of Police Lodge#12 is an active Union Office that represents about
          850 active police officers and over 700 retirees. We protect our officers rights in incidents where
          an officer has taken a legal action while on or off duty. We negociate for their benefits, salaries
          and work schedules. Along with just being an active lodge. We also have great support form within
          our communities that become associate members and show their support for our law enforcement
          community. With their support we donate to various organizations.
        </p>
      </div>
      <div class="video">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/gPgHNZKvJdM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="link-items">
        <div class="col-md-4  ">
          <h1>Important Links</h1>
          <table class="center">
            <tr>
              <td><a href="https://www.njfop.org/" target="_blank">Newark Police Department</a></td>
            </tr>
            <tr>
              <td><a href="https://www.njfop.org/" target="_blank">City of Newark</a></td>
            </tr>
            <tr>
              <td><a href="https://www.njfop.org/" target="_blank">New Jersey PERS</a></td>
            </tr>
            <tr>
              <td><a href="https://www.njfop.org/" target="_blank">US Dept. Of Labor</a></td>
            </tr>
            <tr>
              <td><a href="https://www.njfop.org/" target="_blank">National Law Enforcement Officers Memorial</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4  ">
          <h1>Action Center</h1>
          <table class="center">
            <tr>
              <td>Newark Police Department</td>
            </tr>
            <tr>
              <td>City of Newark</td>
            </tr>
            <tr>
              <td>New Jersey PERS</td>
            </tr>
            <tr>
              <td>US Dept. Of Labor</td>
            </tr>
            <tr>
              <td>National Law Enforcement Officers Memorial</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4  ">
          <h1>Useful Resources</h1>
          <table class="center">
            <tr>
              <td>Newark Police Department</td>
            </tr>
            <tr>
              <td>City of Newark</td>
            </tr>
            <tr>
              <td>New Jersey PERS</td>
            </tr>
            <tr>
              <td>US Dept. Of Labor</td>
            </tr>
            <tr>
              <td>National Law Enforcement Officers Memorial</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  </script>
</body>
{% endblock %}