{% extends 'base.html' %}
{% load static %}
{% block title %}Sign up{% endblock %}
{% block vendor %}
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
<script type="text/javascript" src="{% static 'js/app/signup.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %}
<section id="signup" class="full-background">
    <div class="container mt-5 mb-5">
        <div class="row text-center">
            <h1>Sign up</h1>
        </div>
        <form method="POST" class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">
                {% csrf_token %}
                {% if user_form.errors %}
                    {% for field in user_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in user_form.non_field_errors %}
                        <div class="alert alert-warning" role="alert">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if profile_form.errors %}
                    {% for field in profile_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in profile_form.non_field_errors %}
                        <div class="alert alert-warning" role="alert">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col">
                        <label for="{{user_form.username.id_for_label}}" class="form-label">Username</label>
                        <input type="text" class="form-control"  name="{{user_form.username.name}}" placeholder="Username" maxlength="15" minlength="3"  {% if user_form.username.value %}value="{{user_form.username.value}}"{% endif %} required="" id="{{user_form.username.id_for_label}}">
                        <div for="{{user_form.username.id_for_label}}" class="form-text">{{user_form.username.help_text}}</div>        
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md-6">
                        <label for="{{user_form.first_name.id_for_label}}" class="form-label">First name</label>
                        <input type="text" class="form-control" name="{{user_form.first_name.name}}" placeholder="First name"  maxlength="35" autofocus="" {% if user_form.first_name.value %}value="{{user_form.first_name.value}}"{% endif %} required="" id="{{user_form.first_name.id_for_label}}">
                    </div>
                    <div class="col-md-6">
                        <label for="{{user_form.lasts_name.id_for_label}}"class="form-label">Last name</label>
                        <input type="text" class="form-control" name="{{user_form.last_name.name}}" placeholder="Last name" maxlength="35" {% if user_form.last_name.value %}value="{{user_form.last_name.value}}"{% endif %} required="" id="{{user_form.lasts_name.id_for_label}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{user_form.email.id_for_label}}" class="form-label">Email</label>
                        <input type="email" class="form-control" name="{{user_form.email.name}}" placeholder="user@domain.com" maxlength="254" {% if user_form.email.value %}value="{{user_form.email.value}}"{% endif %} required="" id="{{user_form.email.id_for_label}}">
                        <div for="{{user_form.email.id_for_label}}" class="form-text">{{user_form.email.help_text}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row g-0">
                            <label for="{{user_form.password1.id_for_label}}" class="form-label">Password</label>
                            <input type="password" class="form-control" name="{{user_form.password1.name}}" placeholder="Enter password" autocomplete="new-password" required="" id="{{user_form.password1.id_for_label}}">
                            <div for="{{user_form.password1.id_for_label}}" class="form-text">{{user_form.password1.help_text}}</div>
                        </div>
                        <div class="row g-0">
                            <label for="{{user_form.password2.id_for_label}}" class="form-label">Confirm password</label>
                            <input type="password" class="form-control" name="{{user_form.password2.name}}" placeholder = "Confirm password" autocomplete="new-password" required="" id="{{user_form.password2.id_for_label}}">
                            <div for="{{user_form.password2.id_for_label}}" class="form-text">{{user_form.password2.help_text}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{profile_form.address_1.id_for_label}}" class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="Street address, P.O. box, company name, c/o" name="{{profile_form.address_1.name}}" {% if profile_form.address_1.value %}value="{{profile_form.address_1.value}}"{% endif %} maxlength="128" required="" id="{{profile_form.address_1.id_for_label}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{profile_form.address_2.id_for_label}}" class="form-label">Address 2</label>
                        <input type="text" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc." name="{{profile_form.address_2.name}}" {% if profile_form.address_2.value %}value="{{profile_form.address_2.value}}"{% endif %} maxlength="128" id="{{profile_form.address_2.id_for_label}}">    
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md-5">
                        <label for="{{profile_form.city.id_for_label}}" class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" name="{{profile_form.city.name}}" {% if profile_form.city.value %}value="{{profile_form.city.value}}"{% endif %} maxlength="64" required="" id="{{profile_form.city.id_for_label}}">
                    </div>
                    <div class="col-md-3">
                        <label for="{{profile_form.state.id_for_label}}" class="form-label">State</label>
                        <input type="text" class="form-control" placeholder="State" name="{{profile_form.state.name}}" {% if profile_form.state.value %}value="{{profile_form.state.value}}"{% endif %} maxlength="24" required="" id="{{profile_form.state.id_for_label}}">
                    </div>
                    <div class="col-md-4">
                        <label for="{{profile_form.zip_code.id_for_label}}" class="form-label">Zip code</label>
                        <input type="text" class="form-control" placeholder="Zip code" name="{{profile_form.zip_code.name}}" {% if profile_form.zip_code.value %}value="{{profile_form.zip_code.value}}"{% endif %} maxlength="24" required="" id="{{profile_form.zip_code.id_for_label}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="{{profile_form.phone_number.id_for_label}}" class="form-label">Phone number</label>
                        <input type="text" class="form-control" placeholder="(000) 000-0000" name="{{profile_form.phone_number.name}}" {% if profile_form.phone_number.value %}value="{{profile_form.phone_number.value}}"{% endif %} maxlength="14" required="" id="{{profile_form.phone_number.id_for_label}}">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="submit" class="btn btn-outline-dark" value="Sign up">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center">Already have an account ? <a href="{% url 'app:login' %}">Login</a></p>
                    </div>  
                </div>  
            </div>
        </form>
    </div>
</section>
{% endblock %}