{% extends 'base.html' %}
{% load static %}
{% block title %}Check your email!{% endblock %}
{% block vendor %}
{% endblock %}

{% block content %}     
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %} 
<section id="login" class="py-5 my-5">
    <div class="container py-3 my-5">
        <div data-aos="fade-down" class="row text-center">
           <div>
            <h1>Check your email!</h1>
            <p>If there is an account associated with the info provided, you will receive an email shortly!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
