{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block vendor %}
{% endblock %}

{% block content %}     
<!-- Navbar -->

{% include "app/partials/navbar.html" with user=user %} 
<section id="login" class="full-background">
    <div class="container mt-5 mb-5">
    
        <div data-aos="fade-down" class="row text-center">
            <div>
                <h1>Forget Your Password?</h1>
                <p>Enter your username associated with your account and we'll send you a reminder.</p>
            </div>
        </div>
        <br>
        
        <form method="POST" class="row justify-content-center">

            <div class="col-8 col-md-6 col-lg-5">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-warning" role="alert">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {{form.as_p}}
            <div data-aos = "fade-up">     
                <div class="row mt-3 mb-3">

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <br>
                        <input type="submit" class="btn btn-outline-dark" value="Send Reset Link">
                    </div>
                </div>
                <div class="landscape">
                    <img src="https://lh3.googleusercontent.com/proxy/DNYnzXdZI-b1XB6RlbzZ-SKjMEFxg0Mwxs2O7qWnoUry7m5q1zdEN5Ud2jRXgrICxgpY3Xl8iQfQvFN_wAaK2QrNKtistR9I">
                </div>
            </div>    
        </div>
    </div>
  
    </div>
    </div>
    </form>
    </div>
</section>
{% endblock %}