/* templates/app/index.html */

#home {
    width: 100%;
    min-height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: var(--main-background);
    background-size: cover;
}

#home h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    color: grey;
    text-align: center;
}

#home h2 {
    color: var(--main-subtext);
}

.logo { 
    position: absolute;
     top: 15%;
     left: 3%;
     color:white;
     display: inline-block;
     padding: 0;
     width:200px;
    height:200px;
}

* {box-sizing: border-box;}
.mySlides {
    display:none;
}
img {vertical-align: middle;}
/* slideshow container*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .active {
    background-color: #717171;
  }
  @-webkit-keyframes fade {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
   }
  @keyframes fade {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
    }
  
  #home .light { 
    width:70%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 
}
 .col-md-4{
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 3);
    max-width: 500px;
    background-color: whitesmoke;

}
.link-items {
 
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  
  
}
table{
  border: 5px solid 6c757d;
  border-collapse: collapse;
}
table.center {
  margin: 20px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  color: #49555C;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.Mess-home-page{
  background-color: #F2F3F4 ;
  max-width: 800px;
  margin:0 auto;
}
.welcome{
  text-align: center;
  margin:30px;
  font-size: 2.0em;
  color:#2580DB;
}
.welcome-message{
  text-align: center;
  font-size: 1.300em;
}
.video{
  margin-top: 40px;
}
