/*Parent CSS STYLE*/
:root {
  --main-primary: #035a94;
  --main-text: #ffffff;
  --main-subtext: #aca106;
  --main-other-color: #3bc8cf;
  --main-background: #ffffff;
}

html {
  background-color: var(--main-background);
  height: 100%;
}

html:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  z-index: -1;
}

textarea:focus,
input:focus {
  outline: none;
}

section.full-background{
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 90)
}