{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Username{% endblock %}
{% block vendor %}
{% endblock %}

{% block content %}
<!-- Navbar -->

{% include "app/partials/navbar.html" with user=user %}
<section id="login" class="py-5 my-3">
    <div class="container mt-5 mb-5">
        <div data-aos="fade-down" class="row text-center">
            <div>
                <h1>Forgot Username</h1>
                <p>Enter your email address associated with your account and we'll send you a reminder.</p>
            </div>
        </div>
        <form method="POST" class="row justify-content-center">
            <div class="col-8 col-md-6 col-lg-5">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-warning" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col">
                        <label for="{{form.email.id_for_label}}" class="form-label">Email</label>
                        <input type="email" class="form-control" name="{{form.email.name}}" placeholder="user@domain.com" maxlength="254" {% if user_form.email.value %}value="{{form.email.value}}" {% endif %} required="" id="{{form.email.id_for_label}}">
                        <div for="{{form.email.id_for_label}}" class="form-text">Information for username recovery will be sent.</div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="d-grid gap-2 col-3 mx-auto">
                    <input type="submit" class="btn btn-outline-dark" value="Send Reminder">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}