{% load static %}
<link rel="stylesheet" href="{% static 'css/app/partials/footer.css' %}" type="text/css" media="screen">
<nav class="footer full-background text-white" style="background-color:#343434;">
    
    <div id="links" class="container ">
          <img src="{%static 'assets/logos/logo.png' %}" class="footer-img" width="90px" height="90px">
        <!--footer Page Links - News & Updates, Contact-->  
          <div class="foot row justify-content-center siteFooterBar ">  
                  <div class="col-md-3 fs-5">
                    <p class="line fs-5">Page Links</p>
                    <ul class="list-unstyled fs-5"> 
                        <li><a href="{% url 'app:index' %}" class="ho text-decoration-none">Home</a></li>
                        <li><a href="{% url 'app:about' %}" class="ho text-decoration-none">About</a></li>
                        <li><a href="{% url 'app:contact' %}" class="ho text-decoration-none">Contact</a></li>
                        <li><a href="{% url 'app:donate' %}" class="ho text-decoration-none">Donate</a></li>
                        <li><a href="{% url 'app:signup' %}" class="ho text-decoration-none">Sign up</a></li>
                        <li><a href="{% url 'app:login' %}" class="ho text-decoration-none">Login</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 fs-5">
                    <p class="line">News & Updates </p>
                    <ul class="list-unstyled fs-5">
                        <li><a href="" class="ho text-decoration-none">Newark FOP News</a></li>
                        <li><a href="http://www.nj.com" target="_blank" class="ho text-decoration-none">NJ News</a></li>
                        <li><a href="" class="ho text-decoration-none">Calendar</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3 fs-5">
                    <p class="line">Contact Us </p>
                    <p>ADDRESS:<br> 51 Rector St,<br> Newark, NJ 07102</p>
                    <p>PHONE: <br>(973)642-0390 </p>
                    <p>FAX: <br>(973)642-6378 </p>
                    <p>EMAIL:</p>
                  </div>
                  <div >
                  &copy Newark FOP
                  </div>     
          </div>
      
    </div>  
    
</nav>



   
