{% load static %}
<nav id="footer" class="pt-5 bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-4">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'app:index' %}" class="text-decoration-none text-decoration-none">Home</a></li>
          <li><a href="{% url 'app:about' %}" class="text-decoration-none fs-6">About</a></li>
          <li><a href="{% url 'app:contact' %}" class="text-decoration-none fs-6">Contact</a></li>
          <li><a href="{% url 'app:donate' %}" class="text-decoration-none fs-6">Donate</a></li>
          <li><a href="{% url 'app:events' %}" class="text-decoration-none fs-6">Donate</a></li>
          <li><a href="{% url 'app:signup' %}" class="text-decoration-none fs-6">Sign up</a></li>
          <li><a href="{% url 'app:login' %}" class="text-decoration-none fs-6">Login</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-4">
        <h5>Updates</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/groups/138607976161088/" class="text-decoration-none fs-6">Newark FOP News</a></li>
          <li><a href="http://www.nj.com" target="_blank" class="text-decoration-none fs-6">NJ News</a></li>
          <li><a href="{% url 'app:events' %}" class="text-decoration-none fs-6">Calendar</a></li>
          <li><a href="https://goo.gl/maps/9pk6bNBeRW5Z8uKm9" class="text-decoration-none fs-6">Map</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-4">
        <h5>Contact us</h5>
        <p class="fs-6">Address:<br>51 Rector St,<br> Newark, NJ 07102</p>
        <p class="fs-6">Phone:<br>(973)642-0390 </p>
        <p class="fs-6">Fax: <br>(973)642-6378 </p>
        <p class="fs-6">Email:<br>nwrkfop@aol.com</p>
      </div>
    </div>
    <hr>
    <div class="footer-info text-center pb-3">
      <div class="row align-middle g-0">
        <div class="col">
          <img src="{% static 'assets/logos/logo.png' %}" class="d-inline" style="height:50px;">
          <div class="d-inline text-muted">&copy;<script>document.write(new Date().getFullYear())</script>, NewarkFOP12
          </div>
          <a href="https://github.com/gajeraYash/NFOP-app">
            <img src="{% static 'assets/logos/ru-cs logo.png' %}" class="d-inline" style="height:55px;" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>