{% load static %}
<link rel="stylesheet" href="{% static 'css/app/partials/navbar.css' %}" type="text/css" media="screen">
<nav class="navbar shadow sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">
            <img src="{%static 'assets/logos/logo.png' %}" class="img-fluid" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:about' %}"><b>About</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:contact' %}"><b>Contact</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:donate' %}"><b>Donate</b></a>
                </li>
            </ul>
            <ul class="navbar-nav me-2">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:member' %}"><b>Members</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:logout' %}"><b>Logout</b></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:signup' %}"><b>Sign up</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:login' %}"><b>Login</b></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>