{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Member{% endblock %}

{% block vendor %}
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
<script type="text/javascript" src="{% static 'js/app/member/edit_member.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %}
<section id="home" class="full-background">
  <div class="container py-4">
    <form method="POST" class="row justify-content-center">
      <div class="col-10 col-md-8 col-lg-6">
        {% csrf_token %}
        {% if user_info.errors %}
            {% for field in user_info %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in user_info.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% if profile_info.errors %}
            {% for field in profile_info %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in profile_info.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row text-center">
          <h4 class="pt-3 display-6">User</h4>
        </div>
        <div class="row">
          <div class="col">
            <label for="username_id" class="form-label">Username</label>
            <input type="text" class="form-control" name="username_read" value="{{user.username}}" id="username_id" readonly >
          </div>
        </div>
        <div class="row g-2 pt-1">
          <div class="col-md-6">
              <label for="{{user_info.first_name.id_for_label}}" class="form-label">First name</label>
              <input type="text" class="form-control" name="{{user_info.first_name.name}}" placeholder="First name" value="{{user_info.first_name.value}}"  maxlength="35"  required="" id="{{user_info.first_name.id_for_label}}">
          </div>
          <div class="col-md-6">
              <label for="{{user_info.lasts_name.id_for_label}}" class="form-label">Last name</label>
              <input type="text" class="form-control" name="{{user_info.last_name.name}}" placeholder="Last name" value="{{user_info.last_name.value}}" maxlength="35" required="" id="{{user_info.lasts_name.id_for_label}}">
          </div>
        </div>
        <div class="row pt-1">
          <div class="col">
              <label for="{{user_info.email.id_for_label}}" class="form-label">Email</label>
              <input type="email" class="form-control" name="{{user_info.email.name}}" placeholder="user@domain.com" value="{{user_info.email.value}}" maxlength="254" required="" id="{{user_info.email.id_for_label}}">
          </div>
        </div>
        <div class="row text-center">
          <h4 class="pt-3 display-6">Profile</h4>
        </div>
        <div class="row">
          <div class="col">
            <label for="{{profile_info.address_1.id_for_label}}" class="form-label">Address</label>
            <input type="text" class="form-control" placeholder="Street address, P.O. box, company name, c/o" name="{{profile_info.address_1.name}}" value="{{profile_info.address_1.value}}" maxlength="128" required="" id="{{profile_info.address_1.id_for_label}}">
          </div>
        </div>
        <div class="row pt-1">
          <div class="col">
              <label for="{{profile_info.address_2.id_for_label}}" class="form-label">Address 2</label>
              <input type="text" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc." name="{{profile_info.address_2.name}}" value="{{profile_info.address_2.value}}" maxlength="128" id="{{profile_info.address_2.id_for_label}}">    
          </div>
        </div>
        <div class="row pt-1 g-2">
          <div class="col-md-5">
            <label for="{{profile_info.city.id_for_label}}" class="form-label">City</label>
            <input type="text" class="form-control" placeholder="City" name="{{profile_info.city.name}}" value="{{profile_info.city.value}}" maxlength="64" required="" id="{{profile_info.city.id_for_label}}">
          </div>
          <div class="col-md-3">
            <label for="{{profile_info.state.id_for_label}}" class="form-label">State</label>
            <input type="text" class="form-control" placeholder="State" name="{{profile_info.state.name}}" value="{{profile_info.state.value}}" maxlength="24" required="" id="{{profile_info.state.id_for_label}}">
          </div>
          <div class="col-md-4">
            <label for="{{profile_info.zip_code.id_for_label}}" class="form-label">Zip code</label>
            <input type="text" class="form-control" placeholder="Zip code" name="{{profile_info.zip_code.name}}" value="{{profile_info.zip_code.value}}" maxlength="24" required="" id="{{profile_info.zip_code.id_for_label}}">
          </div>
        </div>
        <div class="row pt-1">
          <div class="col">
            <label for="{{profile_info.phone_number.id_for_label}}" class="form-label">Phone number</label>
            <input type="text" class="form-control" placeholder="(000) 000-0000" name="{{profile_info.phone_number.name}}" value="{{profile_info.phone_number.value}}" maxlength="14" required="" id="{{profile_info.phone_number.id_for_label}}">
          </div>
        </div>
        <div class="row text-center">
          <h4 class="pt-3 display-6">Status</h4>
        </div>
        <div class="row">
          <div class="col">
            <label for="user_status_id" class="form-label">Member status</label>
            <input type="text" class="form-control" name="user_status" value="{{user.userstatus.get_status_display}}" readonly id="user_status_id">    
          </div>
        </div>
        <div class="row g-4 py-4 mt-3 justify-content-center">
          <div class="col-md-6">
            <div class="d-grid mx-auto">
              <input type="submit" class="btn btn-outline-dark" value="Save">
            </div>
          </div>
        </div> 
      </div>
    </form>
  </div>
</section>
{% endblock %}