{% extends 'base.html' %}
{% load static %}
{% block title %}Member Only{% endblock %}

{% block vendor %}
{% endblock %}

{% block content %}
<!-- Navbar -->
{% include "app/partials/navbar.html" with user=user %}
<section class="forms full-background" id="forms">
    <div class="container">
        <div class="row g-0 justify-content-center my-5 py-5">
            <div class="card w-75 text-center my-3">
                <div class="card-header">
                    <h5 class="card-title">Member</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">For new and current active members.</p>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'app:upload_member' %}" class="btn btn-outline-dark">Upload</a>
                        </div>
                        {% if formMember %}
                        <div class="col">
                            <a href="{{formMember.0.form.url}}" class="btn btn-outline-dark" download="">Download</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card w-75 text-center my-3">
                <div class="card-header">
                    <h5 class="card-title">Police</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Active duty police officers only.</p>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'app:upload_police' %}" class="btn btn-outline-dark">Upload</a>
                        </div>
                        {% if formPolice %}
                        <div class="col">
                            <a href="{{formPolice.0.form.url}}" class="btn btn-outline-dark" download>Download</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 justify-content-center text-center">
            <div class="col">
                <h3>Payment</h3>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="lajara239@aol.com">
                    <input type="hidden" name="lc" value="US">
                    <input type="hidden" name="item_name" value="Member Fee">
                    <input type="hidden" name="item_number" value="101">
                    <input type="hidden" name="button_subtype" value="services">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                    <table class="mx-auto">
                    <tr><td><input type="hidden" name="on0" value="Membership">Membership</td></tr><tr><td><select class="form-control" name="os0">
                        <option value="New Member">New Member $145.00 USD</option>
                        <option value="Renewal">Renewal $40.00 USD</option>
                        <option value="Extra Shield">Extra Shield $80.00 USD</option>
                    </select> </td></tr>
                    <tr><td><input type="hidden" name="on1" value="Name and Email">Name and Email</td></tr><tr><td><input type="text" class="form-control" value="{{user.first_name}} {{user.last_name}} - {{user.email}}"name="os1" maxlength="200"></td></tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="option_select0" value="New Member">
                    <input type="hidden" name="option_amount0" value="145.00">
                    <input type="hidden" name="option_select1" value="Renewal">
                    <input type="hidden" name="option_amount1" value="40.00">
                    <input type="hidden" name="option_select2" value="Extra Shield">
                    <input type="hidden" name="option_amount2" value="80.00">
                    <input type="hidden" name="option_index" value="0">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}